<%= render partial: "decidim/shared/feature_announcement" %>

<div class="row">
  <div id="blogs" class="columns small-12 medium-8">
    <%= render partial: "posts" %>
  </div>
  <div id="most-commented" class="columns small-12 medium-4">
    Most commented
  </div>
</div>
