<% provide(:title, translated_attribute(blog.title)) %>

<% add_decidim_meta_tags({
  title: translated_attribute(blog.title),
  description: translated_attribute(blog.body),
  url: blog_url(blog.id)
}) %>

<div class="row column view-header">
  <h2 class="heading2"><%= translated_attribute blog.title %></h2>
  <div class="author-data">
    <%= render partial: "datetime", locals: { blog: blog } %>
  </div>
</div>
<div class="row">
  <div class="columns small-12">
    <div class="section">
      <p><%= sanitize translated_attribute blog.body %></p>
    </div>
  </div>
</div>

<%= comments_for blog %>
